* {
  box-sizing: border-box;
}

body {
  background: #222f3e;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

h1 {
  text-align: -webkit-center; 
}

a {
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.right {
  flex: 1;
  background-image: linear-gradient(#222f3e, #fa8231, #222f3e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

.signIn label {
  font-weight: 500;
  line-height: 2rem;
  font-size: 0.9rem;
}

.text-label {
  width: 80%;
}

.signIn .text-input {
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
  border-radius: 2px;
  background: #222f3e;
  border: 1px solid #334860;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

.signIn .primary-btn {
  width: 80%;
}

/* Buttons */

.primary-btn {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  height: 2.7rem;
  border-radius: 2px;
  font-weight: 500;
  background: #fa8231;
  color: #fff;
  border: 0;
  margin: 1em;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.primary-btn:hover {
  background-color: #f89d60
}

.secondary-btn {
  padding: 0.7rem 1rem;
  margin: 0 0.7rem;
  font-size: 0.9rem;
  height: 2.7rem;
  width: 90%;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  border: 1px solid #f3f3f3;
  margin: 1em;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover {
  border-color: #f89d60;
  color: #f89d60;

}

/* Media Queries */

@media(min-width: 1200px) {
  .left {
    flex: 4;
  }

  .right {
    flex: 6;
  }
}

